{% extends 'base.html' %}
{% block content %}
<div class="container">
<h2>Habitaciones</h2>

<!-- Conectar con base de datos para mostrar los tipos de habitaciones -->
<!-- form -->

<div class="row">
{% for habitacion in habitaciones %}
  <div class="col-sm-6 wowload fadeInUp"><div class="rooms"><img src="{{ url_for('static', filename='images/photos/8.jpg')}}" class="img-responsive"><div class="info"><h3>Habitación {{ habitacion['habitacion'] }}</h3><p>Descripción: {{ habitacion['descripcion'] }}</p><p>Precio: {{ habitación['precio'] }}</p><p>Categoría: {{ habitación['categoria'] }}</p><p>Cantidad de Personas: {{ habitación['cantidad_personas'] }}</p></div></div></div>  
{% endfor %}
</div>

{% endblock %}
