{% extends 'base.html' %}
{% block content %}
<div class="container">

<h2>Habitaciones</h2>

<!-- Conectar con base de datos para mostrar los tipos de habitaciones -->
<!-- form -->

<div class="row">
  <div class="col-sm-6 wowload fadeInUp"><div class="rooms"><img src="{{ url_for('static', filename='images/photos/8.jpg')}}" class="img-responsive"><div class="info"><h3>Habitaciones Simples</h3><p>La habitación simple dispone de una cama de 2 plazas y baño privado. Ideal para disfrutar de un propio espacio en solitario o con tu pareja. El equipamiento de la habitación consta de: Caja fuerte, escritorio, armario, minibar, secador de pelo, artículos de aseo gratuitos. Se encuentran incluidos el servicio de limpieza, Room Service y el WIFI gratuito</p></div></div></div>
  <div class="col-sm-6 wowload fadeInUp"><div class="rooms"><img src="{{ url_for('static', filename='images/photos/9.jpg')}}" class="img-responsive"><div class="info"><h3>Habitaciones Dobles</h3><p>La habitación doble dispone de dos camas de dos plazas cada una y baño privado. Ideal para disfrutar un espacio con un amigo o familiar. El equipamiento de la habitación consta de: Caja fuerte, escritorio, armario, minibar, secador de pelo, artículos de aseo gratuitos. Se encuentran incluidos el servicio de limpieza, Room Rervice y el WIFI gratuito</p></div></div></div>
  <div class="col-sm-6 wowload fadeInUp"><div class="rooms"><img src="{{ url_for('static', filename='images/photos/10.jpg')}}" class="img-responsive"><div class="info"><h3>Habitaciones Familiares</h3><p>La habitación familiar consta de dos habitaciones simples comunicadas o de una sola habitación para la familia. Cuenta con una cama matrimonial y/o dos camas individuales. El equipamiento de la habitación es igual que el de las habitaciones simples como también dispondrá del servicio de limpieza, Room Service y el WIFI gratuito</p></div></div></div>
</div>
</div>

{% endblock %}